

button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
      
button, .icon-favorit{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 105px;
}

.icon-favorit {
width: 20px;
height: 20px;
cursor: pointer;
}